body {
  font-family: 'Arvo', serif;
  background-color: rgba(224, 200, 184, 0.7);
}

.result {
  display: none;
}

.jumbotron {
  background-color: black;
  color: rgb(183, 139, 110);
  width: 100%;
  text-align: center;
}

.submit {
  color: black;
}

#name-warning {
  color: crimson;
  display: none;
  padding-left: 20px;
}

#size-warning {
  color: orange;
  display: none;
  padding-left: 20px;
}

#vector-warning {
  color: orange;
  display: none;
  padding-left: 20px;
}

#street-warning {
  color: orange;
  display: none;
  padding-left: 20px;
}

#city-warning {
  color: orange;
  display: none;
  padding-left: 20px;
}

#state-warning {
  color: orange;
  display: none;
  padding-left: 20px;
}



#address {
  display: none;
}
