.result {
  display: none;
}

#name-warning {
  color: orange;
  display: none;
  padding-left: 20px;
}

#size-warning {
  color: orange;
  display: none;
  padding-left: 20px;
}

#vector-warning {
  color: orange;
  display: none;
  padding-left: 20px;
}

#street-warning {
  color: orange;
  display: none;
  padding-left: 20px;
}

#city-warning {
  color: orange;
  display: none;
  padding-left: 20px;
}

#state-warning {
  color: orange;
  display: none;
  padding-left: 20px;
}



#address {
  display: none;
}
